.DS_Store
__pycache__
.idea
*.pyc
/venv/
config.xml
/data/backup
htp
htp.test
/data/osm
/data/apps/yugo/trace
/data/apps/yugo/profiles/clarin.eu:cr1:p_1721373443934/records
/data/apps/yugo/profiles/clarin.eu:cr1:p_1721373443955/records
/data/apps/yugo/profiles/clarin.eu:cr1:p_1721373443967/records
/data/apps/yugo/profiles/clarin.eu:cr1:p_1733830015132/records
/data/apps/yugo/profiles/clarin.eu:cr1:p_1744616237113/records
/data/apps/yugo/profiles/clarin.eu:cr1:p_1747312582429/records
/data/apps/yugo/profiles/clarin.eu:cr1:p_1747312582450/records
