version: '2'

services:
  sd-editor:
    image: ghcr.io/knaw-huc/service-huc-editor:2.0-RC5
    environment:
      - BASE_URL=http://localhost:1210
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.sd-editor.loadbalancer.server.port=1210"
      - "traefik.http.routers.sd-editor.entrypoints=http"
      - "traefik.http.routers.sd-editor.rule=Host(`editor.sd.di.huc.knaw.nl`)"
    volumes:
      - ./data:/home/huc/huc-editor-service/data
    networks:
      - sd-editor
    ports:
      - '1210:1210'

networks:
  sd-editor:
    external:
      name: traefik-public
